@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
}
.color-picker {
  @apply w-4 h-4 rounded-lg cursor-pointer;
}
.color-picker2 {
  @apply w-7 h-7 rounded-full cursor-pointer;
}
.addToChart {
  @apply text-4xl rounded-full border-[1px] bg-white p-2 border-muted-color text-dark-navy cursor-pointer;
}
.btn1 {
  @apply px-10 py-4 text-white text-sm bg-success-color border-solid 
              border-[1px] border-success-color rounded
               hover:text-success-color hover:bg-white ease-in-out duration-500;
}
.btn2 {
  @apply px-8 py-4 text-success-color text-sm border-solid rounded
              border-[1px] border-success-color hover:text-white hover:bg-success-color ease-in-out duration-500;
}
.btn1Sm {
  @apply px-4 w-1/2 py-4 text-white text-sm bg-primary-blue border-solid 
              border-[1px] border-primary-blue rounded
               hover:text-primary-blue hover:bg-white ease-in-out duration-500;
}
.btn2Sm {
  @apply px-4 w-1/2 py-4 text-primary-blue text-sm bg-white border-solid 
              border-[1px] border-primary-blue rounded
               hover:text-white hover:bg-primary-blue ease-in-out duration-500;
}
.signUpBtn {
  @apply px-8 py-3 text-white text-sm bg-primary-blue border-solid 
              border-[1px] border-primary-blue rounded;
}
.counterP {
  @apply font-bold text-secondary-text;
}
.swiper-button-prev,
.swiper-button-next {
  color: white;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  width: 9%;
  height: var(--swiper-pagination-progressbar-size, 9px);
  left: 50%;
  top: 90% !important;
}
:root {
  --swiper-theme-color: #fff;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
